!!!
%html
	%head
		%meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			= `Welcome to TheHubNews, #{@user.email}`
		%p
			To confirm your email address, please click on the link below.
			%br/
		= link_to('confirm', @url)
		%p Thanks for joining and have a great day!