%h1 The Hub News
.articles
  - @articles.each do |article|
    .article_box{class: "w-1/3", id: "#{dom_id(article)}"}
      %h3= article.title
      %p= truncate(article.content, length: 100, separator: ' ', ommision: "... (Read More)")