%h1 The Hub News
.articles
- @categories.each do |category|
	%div{id: dom_id(category)}
		%p= category.name.capitalize
		-category.articles.each do |article|
			.article_box{id: "#{dom_id(article)}"}
				= link_to article.title, article_path(article)
				%p= truncate(article.content, length: 100, separator: ' ', ommision: "... (Read More)")
