%nav.flex.items-center.justify-between.flex-wrap.bg-red.p-6>
  .flex.items-center.flex-no-shrink.text-white.mr-6
    %svg.fill-current.h-8.w-8.mr-2{:height => "54", :viewbox => "0 0 54 54", :width => "54", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => ""}
    %span.font-semibold.text-xl.tracking-tight The Hub News
  .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
    %div
      = link_to t('signup'), new_user_registration_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-red hover:bg-white mt-4 lg:mt-0"